.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style: none;
}

.size-block-inner{
  background-color: white;
  height: 70px;
}

.date-picker-style{
  border-radius: 0.25rem;
  border-radius: 10px;
  height: 31px;
  width: 100% !important;
}

.date-input{
  border: none;
  height: 20px;
  width: 1000%;
}
input:focus {
  /* 여기에 선택되었을 때 표시될 스타일을 추가하세요 */
  outline: none; /* 선택 표시 제거 */
}
.bi:hover {
  cursor: pointer;
}
hr {
  margin: 0;
}


.toast-cls {
  /* background-color: tomato; */
  width: 370px;
  height: 70px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 9999;
  border-radius: 10px;
}

.form-control.is-invalid, .was-validated .form-control:invalid{
  padding-right: .5rem !important;
  background-image: none !important;
  color: var(--bs-form-invalid-border-color); 
}

.form-select.is-invalid, .was-validated .form-control:invalid{
  padding-right: .5rem !important;
  background-image: none !important;
}

.toggle-button-style {
  position: fixed;
  top: 0;
  z-index: 1010;
  margin: 10px;
}
.toggle-button-style:hover {
  cursor: pointer;
}